.calendarContainer {
  margin-top: 3rem;
}

.schedulerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.schedulerTextInput {
  min-width: 25vw;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  border: 2px solid #666666;
  transition: all 0.3s ease;
  font-size: 0.8rem;
}

.saveButton {
  font-size: 1.5rem;
  z-index: 2;
  padding: 1rem;
  border-radius: 10px;
  border-width: 3px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.25s, box-shadow 0.25s;
  margin-right: 8vw;
  margin-left: 8vw;
}

.saveButton:hover {
  background-color: rgba(220, 220, 220);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.checkBoxContainer {
  display: flex;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 3vh;
  width: 3vh;
  border-radius: 10px;
  transition: background-color 0.25s, box-shadow 0.25s;
}

.checkbox:hover {
  cursor: pointer;
  background-color: rgba(220, 220, 220);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Calendar Styles */
.calendar {
  width: 50vw;
  height: 80vh;
}

.rbc-allday-cell {
  display: none;
}

.rbc-header {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  border-radius: 10px;
}

.rbc-time-header-cell .rbc-today {
  background-color: #adadad;
}

.rbc-time-slot {
  z-index: 1;
}

.rbc-event,
.rbc-background-event {
  z-index: 2;
  padding: 0px;
  border: none;
  font-size: 0.8vw;
  border-radius: 2px;
}

.rbc-events-container {
  width: 100%;
  border-radius: 0;
}
.rateWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.2rem;
}

.smallInput {
  min-width: unset;
  width: 80px;
  padding: 0.4rem;
  font-size: 0.9rem;
}

.dollarSign {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 2px;
}
