.calendarContainer {
  margin-top: 3rem;
}

.calendar {
  width: 50vw;
  height: 80vh;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  font-size: 0.7vw;
}

.rbc-agenda-event-cell {
  cursor: pointer;
}

.rbc-allday-cell {
  display: none;
}

.schedulerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.schedulerTextInput {
  min-width: 25vw;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  border: 2px solid #666666;
  transition: all 0.3s ease;
  font-size: 0.8rem;
}

.saveButton {
  font-size: 1.5rem;
  z-index: 2;
  padding: 1rem;
  border-radius: 10px;
  border-width: 3px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.25s, box-shadow 0.25s;
  margin-right: 8vw;
  margin-left: 8vw;
}

.saveButton:hover {
  background-color: rgba(220, 220, 220);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.checkBoxContainer {
  display: flex;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 3vh;
  width: 3vh;
  border-radius: 10px;
  transition: background-color 0.25s, box-shadow 0.25s;
}

.checkbox:hover {
  cursor: pointer;
  background-color: rgba(220, 220, 220);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
