@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
}

#root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Header */

.Header {
  width: 100%;
  background-color: #efefef;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
  z-index: 10;
  height: 5rem;
}

.Header ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.logo {
  height: 2.5rem;
  position: absolute;
  left: 1rem;
}

.Header li {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  color: #000;
  transition: all 0.25s ease;
  border-radius: 4px;
  background-color: transparent;
  margin: 0.5rem;
}

.Header li:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}

.Header li.active {
  background-color: #a1a1a1; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.Header li a {
  color: #000;
  text-decoration: none;
  display: block;
  height: 100%;
}

/* LoginScreen */

.loginScreen {
  background-image: url('./assets/Marston.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginScreen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1; 
}

.loginTextContainer {
  position: relative;
  z-index: 2;
  background-color: rgba(239, 239, 239, 0.8);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
}

.loginLargeText {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.loginSmallText {
  font-size: 1.5rem;
}

.loginButton {
  font-size: 1.5rem;
  z-index: 2;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(239, 239, 239);
  border-width: 0;
  transition: background-color 0.25s, box-shadow 0.25s;
}

.loginButton:hover {
  background-color: rgba(220, 220, 220);
  box-shadow: 3px 3px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}

/* Discover Screen */

.discoverWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.discoverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
  box-sizing: border-box;
  gap: 2.5rem;
}

.discoverInput {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  border: 2px solid #666666;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.discoverInput:focus {
  border-color: #000000;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.tutorCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.tutorCard {
  background-color: rgb(217,217,217);
  border-radius: 5px;
  padding: 1rem;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.tutorName {
  font-weight: bold;
  font-size: 2rem;
}

.tutorDesc {
  font-size: 1rem;
  margin-top: 1rem;
}

.scheduleButton {
  font-size: 1.5rem;
  z-index: 2;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgba(239, 239, 239);
  border-width: 3;
  transition: background-color 0.25s, box-shadow 0.25s;
  margin: auto;
  height: 4rem;
  flex: 1;
}

.scheduleButton:hover {
  background-color: rgba(220, 220, 220);
  box-shadow: 3px 3px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}